:root {
  --main-txt-color: rgb(175, 236, 236);
}

.Header {
  background-color: #282c34;
  padding: 20px 0;
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
  opacity: 1;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  
}

.Navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.Nav-links {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.Nav-links li {
  margin-left: 20px;
}

.Nav-links li:first-child {
  margin-left: 0;
}

.Nav-links a {
  text-decoration: none;
  color: var(--main-txt-color);
  font-size: 18px;
  padding: 0px 20px;
}

.Nav-links a:hover {
  color: var(--main-txt-color);
}

.nav-link-item {
  font-size: 1.3rem !important;
}
