:root {
  --main-txt-color: rgb(175, 236, 236);
}

.Header {
  background-color: #282c34;
  padding: 20px 0;
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
  opacity: 1;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  /* border: 2px solid red; */
}

.Navbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1900px;
  margin: 0 auto;
  padding: 0 20px;
  /* border: 2px solid red; */
}

.Nav-links {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.Nav-links li {
  margin-left: 20px;
}

.Nav-links li:first-child {
  margin-left: 0;
}

.Nav-links a {
  text-decoration: none;
  color: var(--main-txt-color);
  font-size: 18px;
  padding: 0px 20px;
}

.Nav-links a:hover {
  color: var(--main-txt-color);
}

.nav-link-item {
  font-size: 1.3rem !important;
}
.menuOutlinedcontainer {
  display: none;
  width: 100%;
}

.social-bar-container {
  /* border: 2px solid red; */
  /* position: relative; */
  /* right: 20px; */
  /* width: 100%; */
}
.social-bar-list {
  display: flex;
  justify-content: flex-end;
}

.social-bar-item {
  padding: 0px 10px;
  color: white;
  cursor: pointer;
}

.social-bar-item:hover {
  color: var(--main-txt-color);
}
@media screen and (max-width: 480px) {
  .Nav-links li {
    /* display: none; */
    /* padding: 0px; */
  }

  .Nav-links li:nth-child(1) {
    padding-left: 10px;
  }
  .Nav-links li:nth-child(4) {
    padding-right: 10px;
  }
  .nav-link-item {
    font-size: 1rem !important;
  }

  .header-dummy-div {
    display: none;
  }

  .Navbar {
    justify-content: center;
  }
  .social-bar-container {
    display: none;
  }
  /* .menuOutlinedcontainer {
    display: flex;
    justify-content: space-between;
    width: 100%;
    display: block;
  } */
}
